header {
  display: flex;
  background: #3f51b5;
  color: #fff;
  padding: 10px 30px;
  align-items: center;
}

.container {
  min-width: 768px;
}

header .body {
  flex: 1;
}
main {
  display: flex;
  padding: 30px;
}
.list {
  flex: 2;
}
.list ul {
  padding-left: 0;
  list-style: none;
}

.btn {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  border: none;
  border-color: none;
  border-radius: 2px;
  padding: 10px;
  width: 30%;
}

.btn-new {
  background: seagreen;
}
